@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  font-family: "pretendard";
  color: #0f172a;
  font-size: 16px;
}

html, body, #root{
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"] {
  flex: 1;
  border: 1px solid #d4d4d8;
  border-radius: 5px;
  padding: 8px 16px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border: 2px solid #475569;
  border-radius: 6px;
}
input[type="checkbox"]:checked {
  background-image: url("./assets/checked.png");
  background-position: center;
}
input[type="checkbox"]:checked + label {
  color: #475569;
}
button {
  padding: 8px 16px;
  background-color: #0f172a;
  border: 1px solid #0f172a;
  border-radius: 5px;
  color: #ffffff;
  height: 40px;
  cursor: pointer;
}
.btn_default:disabled {
  border: 1px solid #0f172acc;
  background-color: #0f172acc;
}
.btn_modify {
  background-color: transparent;
  border: 1px solid #94a3b8;
  color: #0f172a;
}
.btn_modify.active {
  background-color: #94a3b8;
  border: 1px solid #94a3b8;
  color: #ffffff;
}
.btn_delete {
  background-color: transparent;
  border: 1px solid #ef4444;
  color: #ef4444;
}
.btn_delete.active {
  background-color: #ef4444;
  border: 1px solid #ef4444;
  color: #ffffff;
}
.container {
  display: flex;
  min-width: 800px;
  max-width: 1200px;
  height: 100%;
  padding: 0 100px;
  margin: 0 auto;
}
nav {
  height: calc(100% - 40px);
  border-right: 1px solid #e2e8f0;
  padding-right: 24px;
  margin-top: 40px;
}
.nav_todo {
  background-color: aliceblue;
  width: 202px;
  background-color: #e2e8f0;
  border-radius: 5px;
  padding: 8px 16px;
  height: 24px;
  align-content: center;
  font-weight: 600;
}
section {
  margin-left: 32px;
  width: 100%;
  margin-top: 40px;
}
.input_wrap {
  display: flex;
}
#input_todo {
  margin-right: 20px;
  height: 24px;
}
.todo_wrap {
  margin-top: 20px;
}
.todo_wrap > div:first-child {
  font-size: 24px;
  font-weight: 700;
}
#todo_list {
  margin-top: 10px;
}
#todo_list > span {
  font-size: 16px;
  color: #9ca3af;
}
#todo_none.hidden, #done_none.hidden {
  display: none;
}
.todo_item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.todo_item > input,
.todo_item > label {
  cursor: pointer;
}
.todo_item_title {
  flex: 1;
}
.done_wrap {
  margin-top: 40px;
}
.done_wrap > div:first-child {
  font-size: 24px;
  font-weight: 700;
}
#done_list {
  margin-top: 10px;
}
#done_list > span {
  font-size: 16px;
  color: #9ca3af;
}

#modal_container {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000029;
  justify-content: center;
  align-items: center;
}
#modal_container.hidden {
  display: none;
}
.modal_wrap {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 320px;
  row-gap: 60px;
  padding: 24px 20px;
  text-align: center;
}
.modal_wrap > span {
  text-align: start;
  font-weight: 700;
}
.modal_wrap > div {
  text-align: right;
}
