@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
	font-size: 62.5%;
}
body {
	width: 100%;
  height: auto;
	margin: 0 auto;
}

* {
	font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
	box-sizing: border-box;
	font-size: 1.6rem;
	font-weight: normal;
	font-style: normal;
	color: #000;
	line-height: 24px;
	padding: 0;
	margin: 0;
	word-break: keep-all;
}
*:focus, a:hover, button:hover, input:hover, a *:hover,
.swiper-pagination-bullet, .swiper-button-prev, .swiper-button-next{ 
	outline: none; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

header,
footer,
aside,
main,
section,
article,
nav {
	display: block;
}

ul,
li {
	list-style: none;
}

button,
textarea,
input,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	border: none;
	background-color: transparent;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
  border-radius: 0;
}

button {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a,
a:hover,
a:focus,
button {
	text-decoration: none;
}

a,
button{
	cursor: pointer;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 100px #fff inset;
	-moz-box-shadow: 0 0 0 100px #fff inset;
	box-shadow: 0 0 0 100px #fff inset;
}

::selection {
	color: #fff;
	background: rgba(0, 0, 0, 0.99);
}

span,
strong,
b,
em {
	color: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}

textarea{
	resize: vertical;
}

font {
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	line-height: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

legend {
	display: block;
	border: none;
}
fieldset {
	border: none;
	min-width: 0;
}

img {
	max-width: 100%;
	vertical-align: top;
	height: auto;
}

iframe {
	border: none;
	width: 100%;
	height: 100%;
}


/* 미디어쿼리 */
@media (max-width: 1560px)  {
	html, body {font-size: 56%;}
}
@media (max-width: 1024px)  {
    html, body {font-size: 50%;}
}
/* @media (max-width: 1150px)  {
    html, body {font-size: 42%;}
} */