/* Login */
.userWr{
  width: 100%;
  max-width: 40rem;
  margin: auto;
}
.userWr h2{
  margin: 20rem 0 3rem 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #1E293B;
}
.userWr input{
  width: 100%;
  margin-top: 0.5rem;
}
.userWr .buttonWr{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.userWr .buttonWr a{
  display: block;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
}
.userWr .buttonWr a.btnSubmit{
  color: #fff;
  background: #0F172A;
}
.userWr .buttonWr a.btnNormal{
  color: #0F172A;
  background: #fff;
  border: 1px solid #94A3B8;
}
.userWr .validatorTxt{
  display: none;
  font-size: 1.4rem;
  color: #EF4444;
}
.userWr form.help .validatorTxt{
  display: block;
}
.userWr form.help input{
  border: 1px solid #EF4444;
}