.login_join_wrap {
  display: flex;
  width: 380px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_join_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.login_join_wrap .input_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.input_wrap > input[type="text"],
.input_wrap > input[type="password"] {
  flex: 1;
  border: 1px solid #d4d4d8;
  border-radius: 5px;
  height: 24px;
  padding: 8px 16px;
}
.input_wrap > input[type="text"].input_error,
.input_wrap > input[type="password"].input_error {
  border-color: #ef4444;
}
.input_wrap > input {
  flex: none;
}
.input_warning {
  color: #ef4444;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}
